@import "vars";

@keyframes order-slide {
  to {
    right: 0;
  }
}
@keyframes order-slide-out {
  to {
    right: -$orderWidth;
  }
}
@keyframes container-compression {
  to {
    max-width: calc(100% - 22px - #{$orderWidth});
  }
}
@keyframes container-compression-out {
  to {
    max-width: 100%;
  }
}
@keyframes order-item-vanish {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
// loadscreen
@keyframes load-screen {
  0% {
    // filter: hue-rotate(0deg);
  }
  100% {
    // filter: hue-rotate(360deg);
  }
}
@keyframes load-spans-anim {
  0% {
    transform: scale(0);
  }
  80%,
  100% {
    transform: scale(0.8);
  }
}
body {
  position: relative;
}
.load-screen {
  min-height: 100vh;
  width: 100%;
  background-color: rgba(#121520f3, 0.8);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  //settings for animation
  display: flex;
  justify-content: center;
  align-items: center;
  animation: load-screen 10s linear infinite;
  &__wrapper {
    display: none;
    opacity: 0;
  }
  &__inner {
    width: 170px;
    height: 12px;
    position: relative;

    & span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: rotate(calc(18deg * var(--i)));
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 15px;
        height: 15px;
        background: $orange;
        border-radius: 50%;
        box-shadow: 0 0 10px $orange, 0 0 20px $orange, 0 0 40px $orange,
          0 0 60px $orange, 0 0 80px $orange, 0 0 100px $orange;
        animation: load-spans-anim 1s ease-in infinite;
        animation-delay: calc(0.1s * var(--i));
      }
    }
  }
}

.load-screen__wrapper--spawn {
  display: block;
  opacity: 1;
}
