@import "reset";
@import "vars";
@import "fonts";

body {
  background-color: $def;
  color: white;
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: 140%;
}
.container {
  max-width: 1700px;
  margin: 24px 24px 0 13px;
}
.btn {
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  padding: 14px 14px 14px 44px;
  border: 1px solid #393c49;
  border-radius: 8px;
  background: none;
  color: white;
  cursor: pointer;

}
@import "sidenav";
@import "home-main";
@import "order-side";
@import "animations";
@import "slick-slider-custom";

@import "media";
