@import "vars";

.order {
  
  height: 100vh;
  max-width: $orderWidth;
  position: fixed;
  z-index: 1;
  background: #1f1d2b;

  top: 0;
  right: -$orderWidth;
}
.order-container {
  padding: 24px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

  position: relative;
}
.order__exit-btn {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/arrow-right.png) no-repeat;
  background-size: cover;
  border: none;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.order {
  &__inner {
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 24px;
  }
  &__radio {
    display: none;
    &:checked + &-label {
      background: #ea7c69;
      color: white;
    }
  }
  &__radio-label {
    cursor: pointer;
    font-weight: 600;
    color: #ea7c69;
    padding: 7px 12px;
    border: 1px solid #393c49;
    border-radius: 8px;
    & + .order__radio + & {
      margin-left: 8px;
    }
  }
  &__table-wrapper {
    margin-top: 24px;
  }
  &__table {
    border-bottom: 1px solid #393c49;
    & th {
      padding-bottom: 24px;
      font-weight: 600;
      font-size: 16px;
      border-bottom: 1px solid #393c49;
      &:nth-child(1) {
        text-align: left;
      }
      &:nth-child(3) {
        text-align: right;
      }
    }
    & tbody {
      overflow-y: auto;
    }
  }
  &__item-info {
    display: flex;
    margin-top: 28px;
    img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
    }
  }
  &__info-wrapper {
    width: 140px;
    margin-left: 8px;
    margin-right: 60px;
  }
  &__dish-title {
    font-weight: 500;
    line-height: 130%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__dish-price {
    font-weight: 500;
    font-size: 12px;
    color: #abbbc2;
  }
  &__item-quantity {
    vertical-align: top;
    &__inner {
      display: inline-flex;
      & input {
        margin-top: 24px;
        outline: none;
        background: #2d303e;
        border: 1px solid #393c49;
        border-radius: 8px;
        width: 48px;
        height: 48px;
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        color: white;
        -webkit-appearance: textfield;
        -moz-appearance: textfield;
        appearance: textfield;

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
      }
      & button {
        outline: none;
        -webkit-appearance: none;
        background-color: transparent;
        border: none;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        margin: 0;
        position: relative;
        &::before,
        &::after {
          display: inline-block;
          position: absolute;
        }
      }
    }
  }
  &__item-price {
    vertical-align: top;
    padding-top: 37px;
    font-weight: 500;
    font-size: 16px;
  }
  &__notice {
    vertical-align: top;
    & input {
      margin-top: 10px;
      width: 100%;
      padding: 14px;
      background: #2d303e;
      border: 1px solid #393c49;
      border-radius: 8px;
      outline: 0;
      color: white;
      &::placeholder {
        color: #e0e6e9;
      }
    }
  }
  &__delete-btn {
    &-inner {
      margin-top: 10px;
      border-radius: 8px;
      width: 48px;
      height: 48px;
      border: 1px solid #ff7ca3;

      transition: background-color 0.2s;
      &:hover {
        background-color: rgba(#ff7ca3, 0.1);
      }
    }
    & input {
      background: url(../images/delete-item.svg) no-repeat center;
      border: none;
      width: 100%;
      height: 100%;
      cursor: pointer;
    }
  }

  &__item-price,
  &__delete-btn {
    text-align: right;
    padding-left: 16px;
  }
}
.order__total {
  margin: 24px 0px 42px;
  width: 100%;
  & th {
    color: #abbbc2;
    text-align: left;
  }
  & td {
    font-weight: 500;
    font-size: 16px;
    text-align: right;
    padding-left: 10px;
    text-overflow: ellipsis;
    max-width: 85%;
  }
}
.order__submit {
  padding: 14px 0;
  width: 100%;
  background-color: $orange;
  box-shadow: 0px 8px 24px rgba(234, 124, 105, 0.3);
  border-radius: 8px;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
  cursor: pointer;
}
