@import "vars";
.container {
  max-width: 645px;
}
.general-data {
  margin-top: 24px;
  display: flex;
  justify-content: space-between;
  &__item {
    width: 100%;
    background: $darkdef;
    border-radius: 8px;
    padding: 16px;
    & + & {
      margin-left: 24px;
    }
  }
  .item__inner {
    display: flex;
    align-items: center;
  }
  &__item-img {
    background: $def;
    padding: 10px;
    border-radius: 8px;
  }

  &__item-allowance {
    margin-left: 12px;
    font-weight: 500;
    font-size: 12px;
    margin-right: 6px;
  }
  //will be add via 'creating element' from JS
  &__item-allowance--up {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../images/allowance+.png);
  }
  &__item-allowance--down {
    content: "";
    width: 18px;
    height: 18px;
    background-image: url(../images/allowance-.png);
  }
  //
  &__item-total {
    margin-top: 15px;
    font-weight: 600;
    font-size: 28px;
  }

  &__item-total-name {
    margin-top: 8px;
    font-weight: 500;
    line-height: 130%;
    color: #abbbc2;
  }
}
.additional {
  width: 372px;
  background: $darkdef;
  border-radius: 8px;
  padding: 24px;
  margin-top: 24px;
}
.additional-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid #393c49;
}
.additional-title {
  font-weight: 600;
  font-size: 20px;
}
@import "order-report";
@import "order-most-ordered";
