<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head }}
  </head>
  <body>

    {{> sidenav }} 
    {{> body}} 
    {{> loadscreen }}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <script src="assets/js/home-page-script.js"></script>
    <script src="assets/js/slick-settings.js"></script>
    <script src="set-date.js"></script>
  </body>
</html>
